*{
    box-sizing: border-box;
}
nav{
    background-color: lightgray;
height: 100%;
}
nav >ul{
    display: flex;
    list-style-type: none;
    justify-content: center;
    gap: 10px;

}
nav li{
    font-size: 32px;
    
}
nav li>a{
    background-color: gray;
    padding: 20px;
    text-decoration: none;
    color: white;
}